# 360 Reality Audio
app_domain(threesixtyra_app)
net_domain(threesixtyra_app)

allow threesixtyra_app audio_service:service_manager find;
allow threesixtyra_app audioserver_service:service_manager find;
allow threesixtyra_app activity_service:service_manager find;
allow threesixtyra_app bluetooth_manager_service:service_manager find;
allow threesixtyra_app content_capture_service:service_manager find;
allow threesixtyra_app game_service:service_manager find;
allow threesixtyra_app media_router_service:service_manager find;
allow threesixtyra_app netstats_service:service_manager find;
allow threesixtyra_app permission_checker_service:service_manager find;
allow threesixtyra_app thermal_service:service_manager find;
allow threesixtyra_app tethering_service:service_manager find;
allow threesixtyra_app virtual_device_service:service_manager find;

